
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
        body {
            width: auto;
          
            font-family: Arial, sans-serif;
        }
        @font-face {
          font-family: 'Heading Now'; 
          src: url('https://fonts.vdhazel.com/headingnow/Heading-Now-Variable-Regular-trial.woff2') format('woff2'); 
          font-weight: normal; 
          font-style: normal; 
        }
        
        * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }
        
        .splash-screen {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #000;
          z-index: 9999;
          transition: opacity 0.5s ease-out;
        }
        
        .splash-screen.hidden {
          opacity: 0;
          pointer-events: none;
        }
        
        .animated-text {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3rem;
          font-size: 10vw;
          line-height: 10vw;
          font-family: "Heading Now", sans-serif;
        }
        
        .letter {
          display: inline-block;
          --wght: 100;
          --wdth: 85;
          --opacity: 0.25;
          --letter-spacing: 0;
          --font-size: 10vw;
          font-variation-settings: "wght" var(--wght), "wdth" var(--wdth);
          opacity: var(--opacity);
          letter-spacing: var(--letter-spacing);
          font-size: var(--font-size);
          transition: 
            font-variation-settings 1s ease-in-out,
            opacity 1s ease-in-out,
            letter-spacing 2s ease-in-out,
            font-size 1s ease-in-out;
        }
        
        
.navbar.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

        .navbar {   position: sticky;
    top: 5px;
    width: auto; /* Adjusted for padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(200px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    background-color: #00071a;
    color: #fff;
    z-index: 1000;
    /* Additional styles */
    background-color: var(--pc); /* This line will override the previous background color */
    padding: 5px 30px; /* Adjust padding as desired */
    border-radius: 10px; /* This will override the previous border-radius */
        }
        

        .navbar .brand {
            display: flex;
            align-items: center;
        }
        .navbar .brand img {
            height: 40px;
            margin-right: 10px;
        }
        .navbar .brand h1 {
            font-size: 1.5em;
            margin: 0;
        }
        .navbar .nav-buttons {
            display: flex;
            gap: 10px;
        }
        .navbar .nav-buttons button {
            padding: 10px 20px;
            font-size: 1em;
            color: #fff;
            background: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .navbar .nav-buttons button:hover {
            background: #0056b3;
        }
        /* General styles for hero section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  flex-grow: 1; /* Allow text to grow and shrink */
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 20px;
  flex-grow: 1; /* Allow text to grow and shrink */
}

.hero-content button {
  font-size: 1rem;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .hero {
      padding: 30px 15px;
  }

  .hero-content h1 {
      font-size: 1.75rem; /* Adjust font size for mobile */
  }

  .hero-content p {
      font-size: 1rem; /* Adjust font size for mobile */
  }

  .hero-content button {
      font-size: 0.875rem; /* Adjust button font size for mobile */
  }
}

        .hero p {
            font-size: 1.5em;
            margin-bottom: 30px;
        }
        .hero button {
            padding: 15px 30px;
            font-size: 1em;
            color: #fff;
            background: #007BFF;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .hero button:hover {
            background: #0056b3;
        }
        .scroller {
  max-width: 600px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

html {
  color-scheme: dark;
}

body {
  display: grid;
  min-block-size: 100vh;
  
  font-family: system-ui;
  font-size: 1.125rem;
  background-color: var(--clr-primary-800);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}


@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: #000000;
  --clr-primary-900: hsl(218, 33%, 9%);
}

html {
  color-scheme: dark;
}

body {
  display: grid;
  min-block-size: 100vh;
  
  font-family: system-ui;
  font-size: 1.125rem;
  background-color: var(--clr-primary-800);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}.marquee {
  display: flex;
  block-size: var(--marquee-item-height);
  margin-block: var(--marquee-item-height);
  position: relative;
  overflow-x: hidden;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee--8 {
  margin-top: -2px;
  --marquee-item-width: 100px;
  --marquee-item-height: 100px;
  --marquee-duration: 36s;
  --marquee-items: 12;
}


.marquee__item {
  background-color: #f1f3ff;
  --marquee-item-offset: max(
    calc(var(--marquee-item-width) * var(--marquee-items)),
    calc(100% + var(--marquee-item-width))
  );
  --marquee-delay: calc(var(--marquee-duration) / var(--marquee-items) * (var(--marquee-items) - var(--marquee-item-index)) * -1);
  position: absolute;
  inset-inline-start: var(--marquee-item-offset);
  transform: translateX(-50%);
  animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
  border-radius: 10px;
}

.marquee__item:nth-child(4n) {
  border-top-right-radius: 1rem;
}

.marquee__item:nth-child(4n + 1) {
  border-bottom-right-radius: 1rem;
}

.marquee__item:nth-child(4n + 2) {
  border-bottom-left-radius: 1rem;
}

.marquee__item:nth-child(4n + 3) {
  border-top-left-radius: 1rem;
}

.marquee--8 .marquee__item:nth-of-type(1) {
  --marquee-item-index: 1;
}

.marquee--8 .marquee__item:nth-of-type(2) {
  --marquee-item-index: 2;
}

.marquee--8 .marquee__item:nth-of-type(3) {
  --marquee-item-index: 3;
}

.marquee--8 .marquee__item:nth-of-type(4) {
  --marquee-item-index: 4;
}

.marquee--8 .marquee__item:nth-of-type(5) {
  --marquee-item-index: 5;
}

.marquee--8 .marquee__item:nth-of-type(6) {
  --marquee-item-index: 6;
}

.marquee--8 .marquee__item:nth-of-type(7) {
  --marquee-item-index: 7;
}

.marquee--8 .marquee__item:nth-of-type(8) {
  --marquee-item-index: 8;
}
.marquee--8 .marquee__item:nth-of-type(9) {
  --marquee-item-index: 9;
}.marquee--8 .marquee__item:nth-of-type(10) {
  --marquee-item-index: 10;
}.marquee--8 .marquee__item:nth-of-type(11) {
  --marquee-item-index: 11;
}.marquee--8 .marquee__item:nth-of-type(12) {
  --marquee-item-index: 12;
}
.No{
  text-align: center; margin-bottom: 5px;
}

@keyframes go {
  to {  
    inset-inline-start: calc(var(--marquee-item-width) * -1);
  }
}

        @keyframes scroll {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-100%);
            }
        }
   /* General styles for the menu toggle (burger icon) */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.3s;
}

/* Navbar styles for mobile devices */
@media (max-width: 768px) {
  .navbar .nav-buttons {
      display: none;
  }
  
  .menu-toggle {
      display: flex;
  }
  
  .navbar {
   width: auto;
   height: 60px;
  }
  .hero-content{
    margin-top: -60px;
  }
  
}

/* Adjust scroller logos for mobile */
@media (max-width: 768px) {
  .marquee__item {
      width: 80px;
      height: 40px;
  }
  
  .marquee--8 { margin-top: -60px;
      --marquee-item-width: 80px;
      --marquee-item-height: 40px;
      --marquee-duration: 30s; /* Speed up the animation for smaller screens */
      --marquee-items: 12;
  }
}
/* Base styles for text sizes */
body {
  font-size: 1rem; /* Default font size */
}

.hero-content h1 {
  font-size: 3rem; /* Default font size */
}

.hero-content p {
  font-size: 1.5rem; /* Default font size */
}

.navbar .brand h1 {
  font-size: 1.5em; /* Default font size */
}

.navbar .nav-buttons button {
  font-size: 1em; /* Default font size */
}

/* Mobile adjustments */
@media (max-width: 768px) {
  body {
      font-size: 0.875rem; /* Smaller font size for mobile */
  }
 .hero{
    margin-top:  -20px; 
  }
  .hero-content h1 {
      font-size: 2rem; /* Smaller font size for mobile */
  }

  .hero-content p {
      font-size: 1.25rem; /* Smaller font size for mobile */
  }

  .navbar .brand h1 {
      font-size: 1.25em; /* Smaller font size for mobile */
  }

  .navbar .nav-buttons button {
      font-size: 0.875em;
      /* Smaller font size for mobile */
  }

  .marquee__item {
      width: 80px; /* Adjust logo size for mobile */
      height: 40px;
  }
  .No{
    margin-bottom: -10%;
  }
}

